<div class="w-full max-w-md">
    <h1 class="text-3xl sm:text-4xl font-bold text-center text-gray-800 mb-6 sm:mb-8">
        <a href="{% url 'home' %}">HTY Company</a>
    </h1>

    <div class="bg-white p-6 sm:p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-6 text-center">Tạo Mật khẩu mới</h2>
        <form method='POST'>
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="new-password">
                    Mật khẩu mới
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="new-password" name="new_password" type="password" placeholder="******************">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="confirm-new-password">
                    Xác nhận mật khẩu mới
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="confirm-new-password" name="confirm_password" type="password" placeholder="******************">
            </div>
            
            <div class="flex items-center justify-center">
                <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Đặt lại mật khẩu
                </button>
            </div>
        </form>
    </div>
</div>